<h1>All Lists</h1>

<table>
  <tr>
    <th>Title</th>
    <% if params[:archived].present? %>
    <th>Unarchive</th>
    <% else %>
    <th>Archive</th>
    <% end %>
  </tr>
  <% @lists.each do |list| %>
  <tr id="list-row-<%= list.id %>">
    <td id="list-title"><%= link_to list.title, list_path(id: list.id) %></td>
    <td id="archive-status">
      <% if list.archived == false %>
        <input type="checkbox" class="list-checkbox" id="<%= list.id%>" value="Completed"
        onClick="markListArchived(<%= list.id %>);">
      <% else %>
        <input type="checkbox" class="list-checkbox" id="<%= list.id%>" value="Not-Completed"
        onClick="markListUnarchived(<%= list.id %>);">
      <% end %>
    </td>
  </tr>
  <% end %>
</table>



<p><%= link_to "Unarchived Lists", lists_path %></p>
<p><%= link_to "Archived Lists", lists_path(archived: true) %></p>


<p><%= link_to "Create new list", new_list_path %></p>

